@charset = "UTF-8";

body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#container {
    background-color: #EEE;
    width: 1325x; /* relative to body */
    margin: 0px auto; /* center container within body */
/*    border: 1px solid #AAA;*/
    border-radius: 5px;
    height: 100vh;
    text-align: center;
    padding: 10px; /* keep child elements from hitting edge of container */
}

table {
    background-color: white;
    width: 100%;
    border-radius: 25px;
    /* border: 3px solid forestgreen; */
}

th {
    background-color: forestgreen;
    color: bisque;
}

img {
    width: 99px;
    height: auto;
}

.pics {
    background-color: #FFF;
    width: 75px; /* relative to body */
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.pics:hover {
    background-color: #EFE;
}
    
#app {
    background-color: white;
    width: 95%; /* relative to body */
    border: 1px solid #AAA;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    min-height: 70vh;
}

header {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 5px auto;
    text-align: center;
    color: #455;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

footer {
    color: #455;
    margin-top: 25px;
    padding: 50px 200px;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

button {
    font-size: 1.25rem;
    color: whitesmoke;
    background-color: #576;
    border-radius: 3px;
    margin: 10px 60px;
    width: 150px;
    height: 40px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer
}

button:hover {
    background-color: #798;
}

.secs {
    font-size: 1.25rem;
    color: red;
    margin: 0 5px;
}

#msg-box {
    width: 600px;
    margin-left: 180px;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
}








